<section class="page-hero">
  <div class="section-center">
    <h3 class="page-hero-title">Home / About</h3>
  </div>
</section>
<!--  ======================== About Me Area ==============================  -->
<main id="AboutPage">
  <div id="about" class="about-me container">
    <div class="row">
      <!-------------------------- Call API-Area --------------------------------------------------->
      <div id="members" class="col-lg-6 col-xl-5 pt-3">
        <div class="card card-box mb-4">
          <div class="card-img-wrapper-box">
            <img
              style="width: 100%"
              class="img-thumbnail"
              src="/assets/admin/me.jpg"
              alt="knownAs"
            />
            <ul class="list-inline member-icons animate text-center">
              <li class="list-inline-item">
                <a class="btn btn-primary btn-sm" href="/UI/Members/details/id">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  href="https://www.facebook.com/Icreatesites4u-690772767726869"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  href="https://github.com/UxDeveloper82"
                >
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              <i class="fa fa-user"></i>
              KnownAs: knownAs, LastActive: new Date
            </h6>
            <p class="card-text text-muted text-center">From: members.city</p>
            <p class="text-center text-uppercase">Dotnet Fullstack-developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="about-info">
          <div class="main-title">
            <h2 class="text-upper text-center mt-0">About Me</h2>
            <p class="text-white-75 mb-4">
              Welcome To My Spot!! Hi there everyone My Name is Martin, am a
              self-taught software developer. My favorite Technologies for
              coding Frontend are Html5, Css3 and JavaScript During the
              Developing For Backend my number one framework is asp.net core and
              C# I develop and write high-quality code, design, test, maintain
              and support custom mobile and web applications, and most important
              meet customer requirements.
            </p>
          </div>
          <div class="personal-info">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  <span>Name: "Martin Fernandez"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Phone: "863-969-8248"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Email: "Electronicsmf@aol.com"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span>Address: "Polk County, Florida"</span>
                </p>
              </div>
              <div class="col-sm-6">
                <p>
                  <span> Freelance: "Available"</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------My-Skils------------------------------------------>
  <section class="skills" id="skills">
    <div class="container">
      <h2 class="text-uppercase title-text">My Awesome Skills</h2>
      <h2 class="section-title">Programming Languages & Tools</h2>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-html5 fa-3x"></i>
            <h4>Html5</h4>
            <p>
              I enjoy working with html5 it gives me more control over the
              performance of the websites.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-css3-alt fa-3x"></i>
            <h4>Css3</h4>
            <p>
              I can controls colors, text alignments, graphics, background
              images, tables and other components.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-node-js fa-3x"></i>
            <h4>JavaScript</h4>
            <p>
              Let's improves the user experience of the web page by converting
              it from a static page into an interactive one.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-angular fa-3x"></i>
            <h4>Angular</h4>
            <p>
              Let's take your app to the next level and get benefits from the
              ability to maintain easily and testing.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fab fa-microsoft fa-3x"></i>
            <h4>Asp.net and C#</h4>
            <p>
              Work with asp.net core it increases security with .net core its
              cost Effective and is cross-platform.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="skills">
            <i class="fas fa-database fa-3x"></i>
            <h4>Sql database</h4>
            <p>
              Let's build your next app faster on a fully managed Sql database
              plus enable the app performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-projects></app-projects>
</main>
