<div class="footer-bottomAlt">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="clearfix">
                  <a href="#" class="social-icon-sm si-dark si-facebook si-light-round">
                      <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                      <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                      <i class="fa fa-skype"></i>
                  </a>
                  <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                      <i class="fa fa-linkedin"></i>
                  </a>
              </div>
          </div>
          <div class="col-lg-5">
              <span>&copy; Copyright 2020 - icreatesites4u - All Right Reserved</span>
          </div>
      </div>
  </div>
</div><!--/footer bottom-->
<a class="back-to-top hidden-xs-down show" id="back-to-top" (click)="scrollTop()"><i class="fa fa-3x fa-angle-up"></i></a>
